<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <h1 class="mt-4">Board Read Page</h1>
    <div class="form-group">
      <label >Bno</label>
      <input type="text" class="form-control" name="gno" th:value="${dto.bno}"
             readonly >
    </div>
    <div class="form-group">
      <label >Title</label>
      <input type="text" class="form-control" name="title" th:value="${dto.title}"
             readonly >
    </div>
    <div class="form-group">
      <label >Content</label>
      <textarea class="form-control" rows="5" name="content"
                readonly>[[${dto.content}]]</textarea>
    </div>
    <div class="form-group">
      <label >Writer</label>
      <input type="text" class="form-control" name="writer"
             th:value="${dto.writerName}" readonly>
    </div>
    <div class="form-group">
      <label >createdAt</label>
      <input type="text" class="form-control" name="createdAt"
             th:value="${#temporals.format(dto.createdAt, 'yyyy/MM/dd HH:mm:ss')}" readonly>
    </div>
    <div class="form-group">
      <label >updatedAt</label>
      <input type="text" class="form-control" name="updatedAt"
             th:value="${#temporals.format(dto.updatedAt, 'yyyy/MM/dd HH:mm:ss')}" readonly>
    </div>
    <a th:href="@{/board/modify(bno = ${dto.bno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
      <button type="button" class="btn btn-primary">수정</button>
    </a>
    <a th:href="@{/board/list(page=${requestDTO.page} , type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
      <button type="button" class="btn btn-info">목록</button>
    </a>

    <!-- 댓글 작성 영역 -->
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Reply</h5>
            <button type="button" class="close" data-dismiss="modal" arialabel="Close">
              <span aria-hidden="true">&times;</span> </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input class="form-control" type="text" name="replyText"
                     placeholder="댓글 작성...">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="replyer"
                     placeholder="작성자..." >
              <input type="hidden" name="rno" >
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger replyRemove">삭제</button>
            <button type="button" class="btn btn-warning replyModify">수정</button>
            <button type="button" class="btn btn-primary replySave">추가</button>
            <button type="button" class="btn btn-outline-secondary replyClose" data-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 댓글 영역 -->
    <div>
      <div class="mt-4">
        <h5>
          <span class="badge badge-info addReply">
            댓글 작성
          </span>
        </h5>
        <h5>
          <span class="badge badge-secondary replyCount" id="replyCount">
            댓글 [[${dto.replyCount}]]
          </span>
        </h5>
      </div>
      <div class="list-group replyList" id="replyList"></div>
    </div>

    <script th:inline="javascript">
      window.addEventListener("load", (e) => {
        // 게시글 번호 찾아오기
        let bno = [[${dto.bno}]];
        //댓글이 추가될 영역
        let listGroup = document.getElementById("replyList");

        //날짜 처리를 위한 함수
        let formatTime = (str) => {
          let date = new Date(str);
          return date.getFullYear() + '/' +
                  (date.getMonth() + 1) + '/' +
                  date.getDate() + ' ' +
                  date.getHours() + ':' +
                  date.getMinutes();
        }

        //특정한 게시글의 댓글을 처리하는 함수
        let loadJSONData = () => {
          fetch('/replies/board/'+bno)
                  .then((response) => response.json())
                  .then((arr) => {
                    console.log(arr);
                    let str = "";
                    document.getElementById('replyCount').innerHTML = "댓글 수 " + arr.length;

                    for(const reply of arr){
                      console.log(reply);
                      str += '<div class="card-body" data-rno="' + reply.rno + '"><b>' +
                              reply.rno + '</b>';
                      str += '<h5 class="card-title">' + reply.text + '</h5>';
                      str += '<h6 class="card-subtitle mb-2 text-muted">' + reply.replyer +
                              '</h6>';
                      str += '<p class="card-text">' + formatTime(reply.createdAt) + '</p>';
                      str += '</div>';
                    }
                    listGroup.innerHTML = str;
                  });
        };

        // 댓글 개수를 클릭 이벤트
        /*
        document.getElementById("replyCount").addEventListener("click", (e) => {
          loadJSONData();
        });
        */

        // 브라우저가 load되면 댓글 개수 클릭이벤트가 아니라 바로 댓글 목록 출력하기
        loadJSONData();

        //모달창
        let modal = $('.modal');

        // 댓글 모달 닫기 버튼 이벤트
        $(".replyClose").on("click", function(){
          modal.modal('hide');
        });

        // 댓글 모달 작성 버튼 클릭 이벤트
        $(".addReply").click(function () {
          modal.modal('show');
          //댓글 입력하는 부분 초기화 시키기
          $('input[name="replyText"]').val('');
          $('input[name="replyer”]').val('');
          $(".modal-footer .btn").hide(); //모달 내의 모든 버튼을 안 보이도록
          $(".replySave, .replyClose").show(); //필요한 버튼들만 보이도록
        });

        // 모달에서 댓글 추가 버튼을 눌렀을 때 댓글 등록하기
        $(".replySave").click(function() {
          let reply = { bno: bno,
            text: $('input[name="replyText"]').val(),
            replyer: $('input[name="replyer"]').val()
          }
          console.log(reply);
          $.ajax({
            url: '/replies/',
            method: 'post',
            data: JSON.stringify(reply),
            contentType: 'application/json; charset=utf-8', dataType: 'json',
            success: function(data){
              console.log(data);
              let newRno = parseInt(data);
              alert(newRno +"번 댓글이 등록되었습니다.");
              modal.modal('hide');
              loadJSONData();
            }
          })
        });

        //댓글을 클릭했을 때 댓글 상세보기 모달창 출력하기
        $('.replyList').on("click", ".card-body", function(){
          let rno = $(this).data("rno");
          $("input[name='replyText']").val( $(this).find('.card-title').html());
          $("input[name='replyer']").val( $(this).find('.card-subtitle').html());
          $("input[name='rno']").val(rno);
          $(".modal-footer .btn").hide();
          $(".replyRemove, .replyModify, .replyClose").show();
          modal.modal('show');
        });

        //삭제 버튼 클릭 이벤트
        $(".replyRemove").on("click", function(){
          let rno = $("input[name='rno']").val(); //모달창에 보이는 댓글 번호로 hidden처리되어 있음
          $.ajax({
            url: '/replies/' + rno,
            method: 'delete',
            success: function(result){
              console.log("result: " + result);
              if(result ==='success'){
                alert("댓글이 삭제되었습니다.");
                modal.modal('hide');
                loadJSONData();
              }
            }
          })
        });

        // 모달 댓글 수정 버튼 이벤느
        $(".replyModify").click(function() {
          // rno 가져오기
          let rno = $("input[name='rno']").val();
          // 수정 요청을 위한 파라미터 만들기
          let reply = {
            rno: rno,
            bno: bno,
            text: $('input[name="replyText"]').val(),
            replyer: $('input[name="replyer"]').val()
          }
          console.log(reply);
          $.ajax({
            url: '/replies/' + rno,
            method: 'put',
            data: JSON.stringify(reply),
            contentType: 'application/json; charset=utf-8',
            success: function(result){
              console.log("RESULT: " + result);
              if(result ==='success'){
                alert("댓글이 수정되었습니다");
                modal.modal('hide');
                loadJSONData();
              }
            }
          });
        });
      });
    </script>

  </th:block>
</th:block>