<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>For Member Page</title>
</head>
<body>
    <h1>This Page For Member View!</h1>
    <h3>
        <div sec:authorize="isAuthenticated()">Login Success User!</div>
    </h3>
    <fieldset>
        <legend>My Role</legend>
            <div sec:authorize="hasRole('USER')">Has USER ROLE</div>
            <div sec:authorize="hasRole('MANAGER')">Has MANAGER ROLE</div>
            <div sec:authorize="hasRole('ADMIN')">Has ADMIN ROLE</div>
    </fieldset>
    <fieldset>
        <legend>Authenticated username</legend>
        <div sec:authentication="name"></div>
    </fieldset>
    <fieldset>
        <legend>Authenticated user roles</legend>
        <div sec:authentication="principal.authorities"></div>
    </fieldset>

</body>
<script th:inline="javascript">
    const auth = [[${#authentication.principal}]];
    console.log(auth);
    const errors = [[${errors}]] ;
    console.log(errors);
</script>
</html>