<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel='stylesheet' type='text/css' href='/css/chat.css'>
</head>
<body>

<a href="#" id="push" >웹 푸시 시작</a>
<br/>
메시지:<span id="disp"></span><br/>

<script>
    window.addEventListener('load', function(e) {
        document.getElementById("push").addEventListener("click", function(e){
            let eventSource = new EventSource("push");
            eventSource.onmessage = function(event) {
                document.getElementById('disp').innerHTML = event.data + "<br />";
            };
        })
    })
</script>

<div id='chat'>
    <h1>WebSocket Chatting</h1>
    <input type='text' id='mid' value='noname'>
    <input type='button' value='로그인' id='btnLogin'>
    <br/>
    <div id='talk'></div>
    <div id='sendZone'>
        <textarea id='msg' value='hi...' ></textarea>
        <input type='button' value='전송' id='btnSend'>
    </div>
</div>
<script src='/js/chat.js'></script>
</body>
</html>