<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <h1 class="mt-4">영화 등록</h1>
    <form th:action="@{/movie/register}" th:method="post" >
      <div class="form-group">
        <label >제목</label>
        <input type="text" class="form-control" name="title" placeholder="영화 제목을 입력하세요">
      </div>
      <div class="form-group fileForm">
        <label >영화 이미지 목록</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input files" id="fileInput" multiple>
          <label class="custom-file-label" data-browse="Browse"></label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class = "uploadResult"><ul></ul></div>
    <style>
      .uploadResult {
        width: 100%;
        background-color: gray;
        margin-top: 10px;
      }
      .uploadResult ul {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        vertical-align: top;
      }
      .uploadResult ul li {
        list-style: none;
        padding: 10px;
        margin-left: 2em;
      }
      .uploadResult ul li img {
        width: 100px;
      }
    </style>
    <script>

      // 이미지 업로드 결과를 받아서 출력해주는 함수
      const showResult = (uploadResultArr) => {
        // 출력할 영역
        let uploadUL = $(".uploadResult ul");
        // 출력할 내용
        let str ="";
        $(uploadResultArr).each((i, obj) => { // 배열 순회하기
          str += "<li data-name=\'" + obj.fileName + "' data-path='" + obj. uploadPath + "' data-uuid='" + obj.uuid + "'>";
          str + " <div>";
          str += "<button type='button' data-file=\'" + obj.imageURL + "\' "
          str += "class='btn-warning btn-sm'>X</button><br>";
          str += "<img src='/display?filename=" + obj.thumbnailURL + "'>";
          str += "</div>";
          str + "</li>";
        });
        uploadUL.append(str);
      };


      $(document).ready((e) => {
        // 제외할 확장자를 위한 정규식
        // . 다음에 exe, sh, zip, alz, tiff로 끝나게 되는 정규식이다.
        let regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
        // 파일의 최대 사이즈는 10MB이다.
        let maxSize = 1024 * 1024 * 10;

        // 파일의 확장자를 조사해주는 메소드
        const checkExtension = (fileName, fileSize) => {
          if(fileSize >= maxSize){
            alert("파일 사이즈 초과");
            return false;
          }
          if(regex.test(fileName)){
            alert("해당 종류의 파일은 업로드할 수 없습니다.");
            return false;
          }
          return true;
        }

        // 파일의 선택이 변경되 경우의 이벤트
        $(".custom-file-input").on("change", function() {
          // 파일의 이름을 추출하기
          let fileName = $(this).val().split("\\").pop();
          console.log(fileName);
          // 파일의 이름을 화면에 출력하기
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

          let formData = new FormData();
          // 선택한 파일 목록 가져오기
          inputFile = $(this);
          files = inputFile[0].files;
          // 추가 모드 설정하기
          appended = false;

          for (let i = 0; i < files.length; i++) {
            // 파일 유효성 검사하기
            if(!checkExtension(files[i].name, files[i].size) ){
              return false;
            }
            console.log(files[i]);
            formData.append("uploadFiles", files[i]);
            appended = true;
          }

          // 파일을 선택하지 않았을 경우 파일 업로드를 하지 않는다.
          if (!appended) {
            return;
          }

          for (let value of formData.values()) {
            console.log(value);
          }

          //실제 업로드 부분 - upload ajax
          $.ajax({
            url: '/uploadajax',
            processData: false,
            contentType: false,
            data: formData,
            type: 'POST',
            dataType:'json',
            success: (result) => {
              console.log(result);
              // 결과 데이터 출력하기
              showResult(result);
            },
            error: (jqXHR, textstatus, errorThrown) => {
              console.log(textStatus);
            }
          }); //$.ajax
        }); //end change event

        // 이미지 위의 삭제 버튼 이벤트
        $(".uploadResult ").on("click", "li button", function(e){
          console.log("delete file");
          // data-file의 값을 가져오기
          let targetFile = $(this).data("file");
          // 자신을 포함하는 li 태그를 찾기
          let targetLi = $(this).closest("li");

          $.ajax({
            url: '/removefile',
            data: {fileName: targetFile},
            dataType:'text',
            type: 'POST',
            success: function(result){
              targetLi.remove();
            }
          }); //$.ajax
        });

        // 이미지 등록 버튼 이벤트
        $(".btn-primary").on("click", function(e) {
          e.preventDefault();
          let str = "";
          if($(".uploadResult li").length > 3){
            alert("3개의 이미지만 첨부가 가능합니다.");
            return;
          }
          $(".uploadResult li").each(function(i,obj){
            let target = $(obj);
            let imsi = 'imageDTOList[' + i + '].imgName';
            str += "<input type='hidden' " + "name=\'" + imsi + "\' " + "value=\'" + target.data('name') +"\'>";
            imsi = 'imageDTOList[' + i + '].path';
            str += "<input type='hidden' " + "name=\'" + imsi + "\' " + "value=\'" + target.data('path') +"\'>";
            imsi = 'imageDTOList[' + i + '].uuid';
            str += "<input type='hidden' " + "name=\'" + imsi + "\' " + "value=\'" + target.data('uuid') +"\'>";
          });
          //태그들이 추가된 것을 확인한 후에 comment를 제거
          $("form").append(str).submit();
        });
      });
    </script>
  </th:block>
</th:block>
