<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/layout/basic:: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h2 class="mt-4">GuestBook List Page
      <span>
        <a th:href="@{/guestbook/register}">
          <button type="button" class="btn btn-danger">방명록 작성</button>
        </a>
      </span>
    </h2>
    <div th:if = "${msg != null}" th:text="${msg}"> </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Title</th>
        <th scope="col">Writer</th>
        <th scope="col">Regdate</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dto : ${result.dtoList}" >
        <th scope="row">[[${dto.gno}]]</th>
        <td>[[${dto.title}]]</td>
        <td>[[${dto.writer}]]</td>
        <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
      </tr>
      </tbody>
    </table>
    <ul class="pagination h-100 justify-content-center align-items-center">
      <!--이전 페이지 목록으로-->
      <li class="page-item " th:if="${result.prev}">
        <a class="page-link" th:href="@{/guestbook/list(page= ${result.start -1})}" tabindex="-1">이전</a>
      </li>
      <!--페이지 목록 10개-->
      <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page:${result.pageList}">
        <a class="page-link" th:href="@{/guestbook/list(page = ${page})}">
          [[${page}]]
        </a>
      </li>
      <!--다음 페이지 목록으로-->
      <li class="page-item" th:if="${result.next}">
        <a class="page-link" th:href="@{/guestbook/list(page= ${result.end + 1})}">다음</a>
      </li>
    </ul>
  </th:block>
</th:block>